#ifdef CREDENTIALS_H


// your adafruit IO username and key.
// go to io.adafruit.com to create your key
#define ADAFRUIT_IO_USERNAME  xxxxxxxxxxxxxxxxxx
#define ADAFRUIT_IO_KEY       xxxxxxxxxxxxxxxxxx

// your wifi credentials
#define WIFI_SSID       xxxxxxxxxxxxxxxxxx
#define WIFI_PASSWORD   xxxxxxxxxxxxxxxxxx

#define CREDENTIALS_H
#endif